/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 1em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h1 {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
}

main {
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

a[href="/auth/google"] {
  display: inline-block;
  margin: 2em auto;
  padding: 1em 2em;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a[href="/auth/google"]:hover {
  background-color: #388E3C;
}
